# Binários
*.exe
*.sh

# Arquivos temporários do sistema
*.swp
*.swo
*.swn
*.bak
*.tmp
*.csv

# Arquivos do sistema de controle de versão
.git/

# Diretórios de dependências e cache
/vendor/
/go.sum
/go.mod

# Arquivos e diretórios específicos do projeto
#config.yaml
*.log
*.sqlite

